* {
   box-sizing: border-box;
   font-family: Poppins;
   font-style: normal;
}

body {
   background-color: var(--color-bg);
   color: var(--color-white);
   // transition: all 0.4s ease-in-out;
}

// main,
// footer {
//     // width: 100%;
//     // padding: 0 18rem;
// }

// section {
//     // padding: 5rem 0;
// }

.name {
   background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   letter-spacing: -1px;
   color: #fff;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s reverse infinite;
}

@keyframes textclip {
   to {
      background-position: 200% center;
   }
}

footer span {
   background: var(--Gradient-Heading, linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 400;
   line-height: 1.625rem;
}

@media only screen and (max-width: 768px) {
   main {
      padding: 0 2rem;
   }

   section {
      padding: 4rem 0;
   }

   footer {
      padding: 0rem 2rem;
   }

   .greeting,
   .name,
   .description {
      font-size: 40px;
   }
}
